createdAt: "2019-01-09T22:13:10.807Z"
updatedAt: "2019-01-09T22:13:12.686Z"
type: "MARKDOWN_NOTE"
folder: "17e02bc324afa86670d0"
title: "Detecçãode Digitos"
tags: []
content: '''
  # Detecçãode Digitos
  
  Material referente a Detector de Sequencias:
  
  [GitHub - archelogos/sequence-detector: Identifying digits and sequences with CNNs using TensorFlow](https://github.com/archelogos/sequence-detector)
  
  [GitHub - thePetrMarek/SequenceOfDigitsRecognition: Recognition of sequence of digits using tensorflow](https://github.com/thePetrMarek/SequenceOfDigitsRecognition)
  
  [GitHub - bguisard/Digit-Recognition: Digit Recognition Project for Udacity's Machine Learning ND](https://github.com/bguisard/Digit-Recognition)
  
  [Sequence of digits recognition - Petr Marek](http://petr-marek.com/blog/2017/07/05/sequence-digits-recognition/)
  
  Datasets:
  [The Street View House Numbers (SVHN) Dataset](http://ufldl.stanford.edu/housenumbers/)
'''
isStarred: false
isTrashed: false
